@import "/home/me/.cache/wal/colors-waybar.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    border: none;
    border-radius: 0;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

window#waybar.empty #window {
    /* Shows nonthig when no windows are in the workspace */
    background-color: transparent;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

/* you can set a style on hover for any module like this */
#clock:hover {
    background-color: #64727d;
}

#cpu:hover {
    background-color: #64727d;
}

#network:hover {
    background-color: #64727d;
}

#pulseaudio:hover {
    background-color: #64727d;
}

#wireplumber:hover {
    background-color: #64727d;
}

#custom-power:hover {
    background-color: #f53c3c;
}

#custom-filemanager:hover {
    background-color: #64727d;
}

#custom-browser:hover {
    background-color: #64727d;
}

#custom-wolf:hover {
    background-color: #64727d;
}

#custom-terminal:hover {
    background-color: #64727d;
}

#submap:hover {
    background-color: #64727d;
}

#workspaces button {
    padding: 5px;
    background-color: black;
    color: white;
}

#workspaces button:hover {
    background: #dddddd;
    /* box-shadow: inset 0 -3px white; */
    color: black;
}

#workspaces button.active {
    background-color: #64727d;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727d;
}

#custom-filemanager {
    margin-left: 5px;
}

#custom-terminal {
    margin-right: 5px;
}

#custom-filemanager,
#custom-browser,
#custom-wolf,
#custom-terminal {
    padding: 0 5px;
    background-color: transparent;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    font-size: 18;
}

#tray {
    padding: 0 10px;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
}

#clock,
#cpu,
#network,
#pulseaudio,
#wireplumber,
#custom-power,
#submap {
    padding: 0 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
}

#window {
    padding: 0 10px;
    color: @color0;
    background-color: @color6;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
}

#workspaces {
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio.muted {
    background-color: #f53c3c;
}

#wireplumber.muted {
    background-color: #f53c3c;
}
